<div
  #menu
  class="absolute z-50 w-44 bg-white shadow-xl rounded-xl border border-gray-200 transition-transform duration-200 ease-out animate-fade-in select-none"
  [ngStyle]="position"
>
  <ul class="divide-y divide-gray-100 text-gray-700 text-sm font-medium">
    @for (item of items; track item) {
      <li
        title="{{ item.label }}"
        (click)="item.action(); onClose.emit()"
        class="flex items-center gap-2 px-4 py-2 hover:bg-slate-100 cursor-pointer transition-transform duration-200 ease-in-out transform"
      >
        <i class="{{ item.icon }} text-lg transition-transform duration-200 ease-in-out"></i>
        <span class="text-slate-600 group-hover:text-certificate-blue-600 transition-colors duration-200 ease-in-out">
          {{ item.label }}
        </span>
      </li>
    }
  </ul>
</div>
