<div class="w-full h-screen">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <img src="assets/not-found.png" alt="404 Not Found" class="w-96 h-auto" />
    <h1 class="text-4xl font-bold text-certificate-blue-600">
      Página no encontrada
    </h1>
    <p class="text-lg text-certificate-blue-200">
      Lo sentimos, la página que buscas no existe.
    </p>
    <a
      href="/"
      class="mt-4 px-4 py-2 bg-certificate-blue-600 text-white rounded-lg hover:bg-certificate-blue-700 transition duration-300"
      >Volver al inicio</a
    >
  </div>
</div>
