<app-navbar [(isOpen)]="isOpen" />

<div class="w-full h-[calc(100vh-96px)] flex">
  <div class="flex-grow p-6 overflow-auto">
    <div class="flex items-center justify-between space-y-4 w-full">
      <h1 class="text-4xl font-bold text-certificate-blue-600">Certificado</h1>
    </div>
    <div
      class="flex justify-end items-center space-x-4 bg-certificate-blue-100 p-4 rounded-t-lg mt-6"
    >
      <button
        class="button-normal w-auto px-6 py-3 bg-red-600 text-2xl"
        (click)="downloadCertificate()"
      >
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
      <button class="button-normal w-auto px-6" (click)="toggleFullscreen()">
        <i class="bi bi-fullscreen"></i>
      </button>
    </div>
    <div
      #contenedor
      class="w-full h-[calc(100lvh-20rem)] overflow-hidden overflow-x-auto overflow-y-auto div-contenedor bg-white"
    >
      <div
        #certificado
        class="relative flex items-center justify-center space-x-4 overflow-hidden transition-all duration-300"
        [ngClass]="{
          'w-[400vw] md:w-[100vw] h-[120lvh]': !isFullscreen,
          'w-screen h-screen': isFullscreen,
        }"
      >
        <img
          src="/assets/logo.png"
          alt="logo de certificate"
          class="absolute top-24 w-96 right-72"
        />
        <img
          src="/assets/firma.png"
          alt="firma"
          class="absolute bottom-10 left-1/2 -translate-x-1/2"
        />
        <hr
          class="absolute bottom-32 left-1/2 -translate-x-1/2 w-80 border-t-2 border-certificate-blue-600"
        />
        <p
          class="absolute bottom-24 left-1/2 -translate-x-1/2 text-certificate-blue-600 text-2xl font-semibold"
        >
          Dr. Magaly Cespedes Palomino
        </p>
        <div
          class="absolute -top-52 left-72 size-96 bg-certificate-blue-600 rotate-45"
        >
          <div
            class="absolute top-8 left-1/2 -translate-x-1/2 size-64 bg-white"
          ></div>
        </div>

        <div
          class="absolute -top-[10.1rem] -left-52 size-96 bg-certificate-blue-200 rotate-45"
        >
          <div class="dot-matrix absolute size-64 top-8 left-96"></div>
        </div>

        <div
          class="absolute -top-[8rem] -right-52 size-96 bg-certificate-blue-200 rotate-45"
        >
          <div
            class="absolute top-8 left-1/2 -translate-x-1/2 size-64 bg-white"
          ></div>
        </div>

        <div
          class="absolute top-24 right-24 size-32 bg-certificate-blue-600 rotate-45"
        >
          <div
            class="striped-square absolute top-24 -right-4 size-24 rotate-45"
          ></div>
        </div>

        <div
          class="absolute top-64 -right-40 size-72 bg-certificate-blue-600 rotate-45"
        >
          <div class="absolute -top-8 -right-10 size-64 bg-white"></div>
        </div>

        <div
          class="absolute -bottom-64 right-[17rem] size-96 bg-certificate-blue-600 rotate-45"
        ></div>

        <!-- DATA -->
        <div
          class="absolute top-[30%] left-12 flex flex-col justify-center items-center space-y-6 text-6xl"
        >
          <span class="text-certificate-blue-200 font-semibold"
            >Otorgamos este</span
          >
          <span class="font-bold text-certificate-blue-600"
            >Reconocimiento</span
          >
          <span class="text-certificate-blue-600"
            >a: <strong>{{ name }}</strong></span
          >
          <p class="w-full text-3xl max-w-6xl text-justify">
            {{ description }}
          </p>
        </div>
        <span
          class="absolute bottom-10 left-12 text-certificate-blue-200 text-xl"
          >ID: {{ idCertificate }}</span
        >
        <div class="absolute bottom-10 right-12">
          <qrcode
            [qrdata]="qrCode"
            [width]="256"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>
    </div>
  </div>
</div>
