<div
  class="border border-gray-300 shadow-sm rounded-lg text-md text-left text-gray-700 overflow-hidden"
>
  <!-- Wrapper que permite scroll horizontal en móviles -->
  <div class="w-full overflow-x-auto">
    <div class="{{ minWidth }}">
      <!-- puedes ajustar este valor si hay más columnas -->
      <!-- Encabezado de tabla -->
      <table class="w-full table-fixed">
        <thead
          class="bg-white text-gray-600 uppercase tracking-wider sticky top-0 z-10"
        >
          <tr>
            @for (h of headers; track h) {
              <th
                title="{{ h }}"
                class="px-6 py-3 border-b border-gray-200 truncate"
              >
                {{ h }}
              </th>
            }
          </tr>
        </thead>
      </table>

      <!-- Contenido scrollable verticalmente -->
      <div
        class="max-h-[calc(100lvh-23.6rem)] md:max-h-[calc(100lvh-20rem)] overflow-y-auto px-2"
      >
        <table class="w-full table-fixed border-separate border-spacing-y-2">
          <tbody class="bg-white font-semibold">
            @for (row of filteredData; track row) {
              <tr
                [ngClass]="{
                  'bg-red-200 hover:bg-red-300': row.includes('C'),
                  'bg-green-200 hover:bg-green-300': row.includes('E'),
                  'bg-blue-200 hover:bg-blue-300': row.includes('R'),
                }"
                class="rounded-xl shadow-sm group"
              >
                @for (cell of row; track cell; let idx = $index) {
                  <td
                    title="{{
                      cell === 'C'
                        ? 'Cancelado'
                        : cell == 'E'
                          ? 'Emitido'
                          : cell == 'R'
                            ? 'Reemitido'
                            : cell
                    }}"
                    class="px-6 py-5 whitespace-nowrap truncate -group-hover:scale-100 group-hover:scale-105 transition-all duration-300 ease-in-out"
                    [ngClass]="{
                      'rounded-l-xl': idx === 0,
                      'rounded-r-xl': idx === row.length - 1,
                    }"
                  >
                    @if (cell === "menu") {
                      <button
                        title="Acciones"
                        type="button"
                        class="transition cursor-pointer aspect-square p-2"
                        (click)="openMenu($event, row, idx)"
                      >
                        <i class="bi bi-three-dots"></i>
                      </button>
                    } @else if (cell === "combobox") {
                      <app-combobox
                        [options]="itemsCombobox"
                        [index]="idx"
                        [rowData]="row"
                        (onChange)="onComboChange($event, idx)"
                      />
                    } @else {
                      {{
                        cell === "C"
                          ? "Cancelado"
                          : cell == "E"
                            ? "Emitido"
                            : cell == "R"
                              ? "Reemitido"
                              : cell
                      }}
                    }
                  </td>
                }
              </tr>
            } @empty {
              <tr>
                <td colspan="5" class="px-6 py-4 text-center text-slate-600">
                  <img
                    src="assets/no-se-encontro-resultados.png"
                    alt="No hay datos disponibles"
                    class="mx-auto mb-2"
                    [ngClass]="{
                      'size-[18rem] md:size-[17rem]': isModal,
                      'size-[28rem] md:size-[32rem]': !isModal,
                    }"
                  />
                  <span class="text-2xl font-semibold">
                    No hay datos disponibles
                  </span>
                </td>
              </tr>
            }
            @if (menuIndexOpen !== null && rowDataOpen) {
              <app-menu-float
                [isModal]="isModal"
                [x]="menuX"
                [y]="menuY"
                [rowData]="rowDataOpen"
                [items]="itemsMenu"
                (onClose)="closeMenu()"
              ></app-menu-float>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
