<div
  [ngClass]="{
    hidden: !isOpen,
    flex: isOpen,
  }"
  class="fixed z-40 w-full h-screen bg-black/70 top-0 left-0 items-center justify-center backdrop-blur-md"
  (click)="handleClose()"
></div>

<div
  [ngClass]="{
    hidden: !isOpen,
    flex: isOpen,
  }"
  class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md sm:max-w-md md:max-w-2xl absolute z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col gap-4 modal-class"
>
  <div class="flex items-start justify-between">
    <div class="flex flex-col items-start">
      <h2 class="text-xl font-bold mb-4">{{ title }}</h2>
      <p class="text-gray-700 mb-4">
        {{ description }}
      </p>
    </div>
    <button
      title="Cerrar"
      type="button"
      class="bg-certificate-blue-600 text-white font-bold py-2 px-4 rounded-md hover:bg-certificate-blue-700 focus:outline-none focus:ring-2 focus:ring-certificate-blue-600 focus:ring-opacity-50 flex items-center gap-2 cursor-pointer transition duration-300 ease-in-out"
      (click)="handleClose()"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <ng-content></ng-content>
</div>
