<div
  class="border-r-2 border-t-2 border-gray-200 h-full bg-white flex-col gap-6 justify-start items-start p-6 fixed sm:fixed md:relative z-30 transition-all duration-300 ease-in-out transform"
  [ngClass]="{
    'translate-x-0': isOpen,
    '-translate-x-full md:translate-x-0': !isOpen,
    flex: true,
  }"
>
  <h2 class="text-xl font-bold text-center text-slate-500">Navegación</h2>
  <div
    class="h-full flex flex-col justify-between items-start space-y-5 w-full text-xl font-bold"
  >
    <div class="flex flex-col space-y-8">
      @for (item of sidebarItems; track item) {
        @if (item.name !== "Cerrar sesión") {
          <div
            class="w-full flex justify-start items-center gap-4 text-gray-700 hover:text-slate-500"
          >
            <i class="bi" [ngClass]="item.icon"></i>
            <a
              href="{{ item.route }}"
              class="w-full transition duration-300 ease-in-out text-nowrap"
            >
              {{ item.name }}
            </a>
          </div>
        }
      }
    </div>
    @for (item of sidebarItems; track item) {
        @if (item.name === "Cerrar sesión") {
          <div
            class="w-full flex justify-start items-center gap-4 text-gray-700 hover:text-slate-500"
          >
            <i class="bi" [ngClass]="item.icon"></i>
            <a
              href="{{ item.route }}"
              class="w-full transition duration-300 ease-in-out text-nowrap"
            >
              {{ item.name }}
            </a>
          </div>
        }
      }
  </div>
</div>

<div
  class="fixed w-full h-full bg-black/65 z-20 transition-all duration-300 ease-in-out"
  [ngClass]="{
    block: isOpen,
    hidden: !isOpen,
  }"
  (click)="handleOpenMenu()"
></div>
