<div class="relative w-full">
  <select
    class="block w-full px-4 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
    (change)="handleChange($event, index)"
    title="Seleccione una opción"
  >
    <option disabled selected>Seleccione una opción</option>
    @for (option of options; track option) {
      <option
      [value]="option.value"
      [selected]="rowData[index] === option.value"
    >
      {{ option.label }}
    </option>
    }
  </select>
</div>
